#img{
	
	width: 200px;
}

#help{
	margin-left: 90px;
}
#centrar-login{
	margin-top: 110px;
}
#crea-cuenta-imagen{

	float: left;
	width: 700px;
	margin-top: 50px;
}

#form{
	float: right;
	margin-right: 200px;
	margin-top: 50px;
}

#menu-margin{
	width: 250px;
	float: left;
	margin-top: 120px;
	margin-left: -10px;

}

#buscador{
	float: right;
	margin-top: 0px;
	margin-right: 250px;
}

@import "compass/css3";

/***********************
 * Essential Structure *
 ***********************/
.flexsearch--wrapper {
	height: none;
	width: 800px;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 25px 0 400px; /* Padding for other horizontal elements */
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 60px;
  padding: 0 46px 0 10px;
	border-color: #888;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 5px;
  margin-top: 15px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 26px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
  padding: 0;
  border: none;
	margin-top: 20px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
	background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}

#div-table{
	width: 55%;
	float: right;
	margin-right: 12%;
	margin-top: -180px;
}
#b1{
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}
#b2{
	text-align: center;
}

#text-area{
	float: right;
	width: 66%;
	margin-right: 10%
}
#para{
	float: right;
	margin-top: 50px;
	margin-right: 55%;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  #main-editor{
  	margin-left: 20%;
  	margin-top: -600px;
  	margin-bottom: 20%;
  }
  #para-asunto{
  	margin: 30%;
  	margin-top: -150px;
  }
 #img-correo{
 	margin-top: 25%;
 }
#img-log-off{
	margin-top: 15%;
  }


 
#footer {
    width: 100%;
    height: 71px;
    position: absolute;
    bottom: 0;
    left: 0;
}
